.about {
	background-color: $gray-200;
	padding: 3rem 0;
}

.about-columns {
	padding: 3rem 0;

	h4 {
		margin-top: 2rem;
	}

	@include media-breakpoint-up(md) {
		padding: 5rem 0;
		h4 {
			margin-top: 0;
		}
	}
}